<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ting">
    <!--连接网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于管理监听网络状态的变化-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于管理监听网络状态的变化-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--用于管理监听网络状态的变化-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--获取电话的状态,在打电话的时候暂停播放-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--target >=28 需要设置此权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.example.ting.init.MyApplication"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ting.MyStyle">
        <activity
            android:name="com.example.ting.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.ximalaya.ting.android.opensdk.player.service.XmPlayerService"
            android:process=":player" />
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.example.ting.init.AppInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>